body {
background-color: gray;
}
header {
  display: flex; align-items: center;
  display: flex; justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 150%;
  color: white;
  height: 80px;
  background-color: black;
  margin: 0;
}

.image {
  text-align: center;
}
.center {
  width: 100%;
  text-align: center;
  padding: 25px;
  border: 5px solid #000;
}

.links {
  width: 100%;
  text-align: center;
  padding: 25px;
}

footer {
  display: flex; align-items: center;
  display: flex; justify-content: flex-start;
  font-size: 100%;
  color: white;
  height: 40px;
  background-color: black;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  padding: 25px;
}

.centerImage {
  text-align: center;
}

.gif {
  display: flex; align-items: center;
  display: flex; justify-content: center;
  font-family: 'Orbitron', sans-serif;
  }

 
